Windows_and_Linux/__pycache__/aiprovider.cpython-311.pyc
Windows_and_Linux/ui/__pycache__/ImageAnalysisWindow.cpython-311.pyc
Windows_and_Linux/__pycache__/aiprovider.cpython-311.pyc
Windows_and_Linux/__pycache__/aiprovider.cpython-311.pyc
Windows_and_Linux/__pycache__/ScreenshotTool.cpython-311.pyc
Windows_and_Linux/ui/__pycache__/CustomPopupWindow.cpython-311.pyc
Windows_and_Linux/ui/__pycache__/ImageAnalysisWindow.cpython-311.pyc
Windows_and_Linux/ui/__pycache__/ImageAnalysisWindow.cpython-311.pyc
Windows_and_Linux/__pycache__/aiprovider.cpython-311.pyc
Windows_and_Linux/__pycache__/ScreenshotTool.cpython-311.pyc
Windows_and_Linux/ui/__pycache__/CustomPopupWindow.cpython-311.pyc
Windows_and_Linux/ui/__pycache__/ImageAnalysisWindow.cpython-311.pyc
